<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="description" placeholder="Введите описание">
        <input type="text" name="place" placeholder="Введите место выполнения">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">
            Добавить дело
        </button>
    </form>
</div>
<div>
    Список дел
</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <button type="submit">Найти</button>
</form>
{{#todos}}
    <div>
        <b>{{id}}</b>
        <b>{{description}}</b>
        <i>{{place}}</i>
    </div>
{{/todos}}

<div>
    Изменить дело
</div>
<form method="get" action="put">
    <input type="text" name="id">
    <button type="submit">
        <a href="/put/{id}">Перейти к изменению дел</a>
    </button>
</form>


</body>
</html>