<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Patch ToDo</title>
</head>
<body>


Patch page
<form action="/put/{id}" method="get">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="description">
    <input type="text" name="place">
    <button type="submit"><a href="/main">Изменить дело</a></button>
</form>

{{#todo}}
    <div>
        <b>{{id}}</b>
        <b>{{description}}</b>
        <i>{{place}}</i>
    </div>
{{/todo}}

</body>
</html>